:root{
    --abwidth: 1200px;
    --cwidth: 1000px;
}
*{
    text-decoration: none;
}

.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.abs{
    position:absolute;
}
.rel{
    position:relative;
}
.container{
    width:var(--cwidth);
}
.m-auto{
    margin: 0 auto;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.w-100{
    width:100%;
}
.h100{
    height: 100px;
}
.h200{
    height: 200px;
}
.h300{
    height: 300px;
}
.b-top{
    border-top: 2px solid #222;
}
.b-bottom{
    border-bottom: 2px solid #222;
}

header{width: 200px;}
.right{width: 800px;}

/* a형 */
/* #hd .d1a{ line-height: 60px; font-size: 26px; min-width: 120px; text-align: center;} */

 /* c형 */
#hd .d1a{ line-height: 60px; font-size: 20px;}

#gnb > li:hover .d1a{ color:white; background-color: green;} /* 공통 */

/* a형 소메뉴 글자 길어도 넘치지 않게 min-width */
/* .d2{
    height:0;
    overflow: hidden;
    background-color: green;
    transition: 0.5s;
    font-size: 18px;
    left:0;
    right:0
    top:100%;
    line-height: 2;
    min-width: 120px;
    text-align: center;
    z-index: 3;
}*/
/* C형 */
/* abs없음 */
/* .d2{
    height:0;
    overflow: hidden;
    background-color: green;
    transition: 0.5s;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    z-index: 3;
} */
/* abs있음 */
.d2{
    height:0;
    overflow: hidden;
    background-color: green;
    transition: 0.5s;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    z-index: 3;
    left: 100%;
    top: -50px;
    width:200px;
}

.d2 a { color: white;} /*공통*/


/* A형 */

/* a형 li 하나씩 나오는거*/
/*#gnb > li:hover .d2{
    height: 180px; 
}*/
/* a형 li 전부 나오는거*/ 
/*#gnb:hover .d2{
    height: 180px; 
}*/
/* a형 아래 덮기 */ 
/*#gnb:after{
    content:"";
    position: absolute; background-color: green;
    top:100px; left: 0; right: 0; height: 0px; transition: 0.5s;
}*/
/* a형 아래 덮기 지연주기(가상선택자 여러개 붙어도 그냥 바싹 붙인다.) */ 
/*#gnb:hover:after{
    height:180px;
}*/ 

/* C형 */

#gnb li:hover .d2{
    height: 180px; 
}
/*2번째만 작게*/
/* #gnb li:nth-child(2):hover .d2{
    height:80px;
}  */
#gnb li:nth-child(2):hover .d2{
    height:80px;
    top:-10px;
} 

.d2 li:hover{ background-color: white;}
.d2 li:hover a{ color: black;} /* 글자는 a태그에 바로 넣어야 색이 들어감 */
#slider{}